{
	"tabWidth": 2,
	"useTabs": true,
	"editor.defaultFormatter": "esbenp.prettier-vscode",
	"[javascript]": {
		"editor.defaultFormatter": "esbenp.prettier-vscode"
	},
	"editor.formatOnSave": true,
	"editor.formatOnPaste": true,
	"editor.formatOnType": true,
	"[html]": {
		"editor.defaultFormatter": "vscode.html-language-features"
	},
	"[python]": {
		"editor.defaultFormatter": "esbenp.prettier-vscode"
	}
}
